*{

    text-decoration: none;

}

body{
    display: flex;
    justify-content: center;
    background: rgb(17,3,3);
    background: linear-gradient(90deg, rgba(17,3,3,1) 0%, rgba(45,12,12,1) 16%, rgba(0,0,0,1) 49%, rgba(45,3,3,1) 86%);}

.container{

    display: flex;
    flex-direction:column; 
    background-color: #f1f1f1; 

}

li{
    text-decoration: none;
    list-style: none;
}
.cab{

    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border:1.7px solid #b699990a;
    font-size: 2rem;
    width: 100%;
    z-index: 4;
    background-color: #2401010b;
   
}
.cab ul{
    display: flex;
    justify-content: space-around;
     height: 5rem;
     align-items: center;
     width: 80%;
     margin-top: 5px;
     align-items: center;
     margin-top: 10px;
}

.cab img{
    
    width: 5rem;
    height: 5rem;
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 60px;
    margin: 50px;
  
    
}
.cab #busca{
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    font-family:cursive;
    width: 300px;
    background-color: #f4efef04;
    color: #ffffff;
    border: 1px solid rgba(163, 0, 0, 0.295);
   
}

.destaques{
    background-color: rgb(0, 0, 0);
  
 
 
}

footer{
    
    background-color: rgb(112, 94, 94);

}

a{
    font-family:cursive;
    color: rgb(255, 255, 255);

    text-decoration: none;
    transition: 1s;
}
a:hover{

    color: #590202;


}

.destaques img{
    max-height: 80vh;
    min-height: 80vh;
    height: 8 dvh;
    width:80 dvw;
    background-repeat: no-repeat;
   
    -webkit-mask-image: linear-gradient(to top, transparent 5%, rgb(2, 2, 2) 90%);
    z-index: 3;


}

.lista ul  {
    display: flex;
    flex-direction:row;
    justify-content:center  ;
    align-items: center;
    min-height: 600px;
    flex-wrap: nrap;
    padding: 40px;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    display: flex;
    font-size: 20px;
    align-items: center;

    

}


.lista ul li{

    width: 23rem;
    height: 28rem;
    border-radius: 10px;
    margin: 25px;
    text-align: center;


}

.lista img{

    border-radius: 10px;
    width: 23rem;
    height: 26rem;
   

    text-align: center;
    -webkit-mask-image: linear-gradient(to top, transparent 1%, rgb(2, 2, 2) 40%);
    background-repeat: no-repeat;
    transition-delay: 1s;
   

}



.dropbtn {
    font-family:cursive;
    background: none;
    padding: 1rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    color: #f1f1f1;
    width: 200px;
    transition: 1000ms;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    align-self: center;
   background-color: rgb(41, 2, 2);
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    transition: 500ms;
    font-family:cursive;

  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 500ms;
  }
  
  .dropdown-content a:hover {background-color: #87060660;    border-radius: 10px;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    font-size: 25px;
    color: blue;
  }
  
  .dropbtn:hover {
     color: #590202;
  

  }

.descricao{

    width: 360px;
    height: auto;
    background-color: #590202;
}

.forms{
    background-color: rgb(0, 0, 0);
    height: auto;


 
}
.corpo{

    margin-top: 15rem;
    display: flex;
    text-align: center;
    color: #f1f1f1;
    text-transform: capitalize;
    flex-direction: column;

    align-items: center ;
    height: auto;
    margin-bottom: 20rem;



}

.corpo input,select,textarea{
    
    width: 60%;
    height: 50px;
    font-size: 20px;
    align-items: center;


   
}
.corpo select, option{
    
    width: 15%;
    height: 50px;
    font-size: 20px;
    background-color: #00000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;


}
.corpo label{
    margin-bottom: 30px;
}

.corpo label{

    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 60px
}


.corpo h1{

    font-size: 100px;
    margin-bottom: 100px;

    
}
#btnsalvar{

    width: 10%;
    margin-top: 60px;
    height: 60px;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;

}

.corpo input,textarea,select{
    background-color: #59020207;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.253);
}

.corpo textarea{
    height: 200px;
    padding: 20px;
}

.selec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;


}
.selec select{
    display: flex;
    width: 11rem;
    margin-top: 40px;
    margin-bottom: 70px;
    border: 1px solid rgba(255, 255, 255, 0.253);
}

.escolhas {
    height: 20rem;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: 1px solid rgba(255, 255, 255, 0.253);
    margin: 70px ;
    margin-bottom: 90px ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
    
}



.detail {
  display: flex;  

  background-image: url("./Evil-Dead-Rise-1-scaled.jpg");
  background-repeat: no-repeat;
  height: 70rem;
 
  background-size:100% 100%;
  background-color: #08010100;

  padding-left: 90px;
  padding-right: 80px;
  padding-top: 100px;
  color: rgb(255, 255, 255);
  flex-direction: column;
  
}
.detail {

    -webkit-mask-image: linear-gradient(to top, transparent 10%, rgb(0, 0, 0) 50%);
  

  }

.detail h1{
   font-size: 120px;
   margin-bottom: 60px;
   align-self: center;
   
  
 
}



.info{

    width: 100%;

}

.info input{
    
    height: 40px;
    
    border-radius: 10px;
    background-color: #5902021f;
    border: none;
    font-size: 40px;
    padding: 10px;
    color: rgb(255, 255, 255);
    
}
 .info label{
    font-size:40px;
  margin-right: 5px;
  margin-left: 30px;
  align-self: center;

 }


 .info textarea{
    width: 100%;
    height: 300px;
    font-size: 40px;
    border: 1px solid rgba(250, 250, 250, 0.048);
    padding: 20px;
 }
.container{background-color: #00000000;
width: 90%;
padding: 0;
}

.info nav{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}