*{

    text-decoration: none;

}

body{
    display: flex;
    justify-content: center;
    background: rgb(1,0,10);
background: linear-gradient(90deg, rgba(1,0,10,1) 0%, rgba(9,9,11,1) 0%, rgba(42,12,12,1) 10%, rgba(0,0,0,1) 85%, rgba(47,6,6,1) 94%, rgba(3,14,17,1) 100%);
}

.container{

    display: flex;
    flex-direction:column;  
    width: 1600px;

}

li{
    text-decoration: none;
    list-style: none;
}
.cab{

    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border:1px solid #ffffff0a;
    font-size: 20px;
    width: 100%;
    z-index: 4;
    background-color: #2401011e;
   
}
.cab ul{
    display: flex;
    justify-content: space-between;
     height: 60px;
     align-items: center;
     width: 70%;
     margin-top: 5px;
     align-items: center;
     margin-top: 10px;
}

.cab img{
    
    width: 70px;
    height: 70px;
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 60px;
    margin: 50px;
  
    
}
.cab #busca{
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    font-family:cursive;
    width: 300px;
   
}

.destaques{
    background-color: rgb(0, 0, 0);
    height: 750px;
 
 
}
.lista{

    background-color: rgb(0, 0, 0);

   
  
}
footer{
    
    background-color: rgb(112, 94, 94);
}

a{
    font-family:cursive;
    color: rgb(255, 255, 255);

    text-decoration: none;
    transition: 1s;
}
a:hover{

    color: #590202;


}

.destaques img{

    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 10%, rgb(2, 2, 2) 100%);
    z-index: 3;


}

.lista ul  {
    display: flex;
    flex-direction:row;
    justify-content:center  ;
    align-items: center;
    min-height: 600px;
    flex-wrap: nrap;
    padding: 40px;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    display: flex;
  
    background: radial-gradient(circle, rgba(1,0,10,1) 0%, rgba(9,9,11,1) 0%, rgba(24,10,10,0.7450629910167192) 10%, rgba(42,12,12,1) 62%, rgba(0,0,0,1) 85%, rgba(3,14,17,1) 100%);    width: 100%;
    font-size: 20px;
    align-items: center;

}


.lista ul li{

    width: 350px;
    height: 430px;
    background-color: rgb(2, 1, 1);
    border-radius: 10px;
    margin: 25px;
    text-align: center;
    opacity: 90%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(1, 1, 1, 0.995) 14%, rgba(0, 0, 0, 0.508) 40%);

   

}

.lista img{

    border-radius: 10px;
    width: 350px;
    height: 400px;
    background-size: cover;

    text-align: center;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 1%, rgb(2, 2, 2) 40%);
    background-repeat: no-repeat;
    transition-delay: 1s;
   

}

.lista img:hover{

    border-radius: 10px;
    width: 353px;
    height: 410px;
    transition: 1s;
   

}


.dropbtn {
    font-family:cursive;
    background: none;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: #f1f1f1;
    width: 200px;
    transition: 1000ms;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    align-self: center;
   background-color: rgb(41, 2, 2);
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    transition: 500ms;
    font-family:cursive;

  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 500ms;
  }
  
  .dropdown-content a:hover {background-color: #87060660;    border-radius: 10px;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    font-size: 25px;
    color: blue;
  }
  
  .dropbtn:hover {
     color: #590202;
  

  }

.descricao{

    width: 360px;
    height: auto;
    background-color: #590202;
}

.forms{
    background-color: rgb(0, 0, 0);
    height: auto;


 
}
.corpo{
    background-color: rgb(0, 0, 0);
    margin-top: 200px;
    display: flex;
    text-align: center;
    color: #f1f1f1;
    text-transform: capitalize;
    flex-direction: column;

    align-items: center ;
    height: auto;
    margin-bottom: 400px;

}

.corpo input,select,textarea{
    
    width: 60%;
    height: 100px;
    font-size: 30px;
    align-items: center;
    margin-bottom: 200px;
    padding: 20px;
}
.corpo select, option{
    
    width: 60%;
    height: 100px;
    font-size: 30px;


}

.corpo label{

    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 50px;
}


.corpo h1{

    font-size: 100px;
    margin-bottom: 100px;
}
